{% extends "aplicacion/base.html" %}
{%load static%}



{% block mascotas %}


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{%static 'app/css/mascotas.css'%}">


    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <!-- Google fonts-->


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

    <title>Adoptame</title>



</head>

<body>
    <div class="banner">
        <img src="{% static 'app/img/corgibanner3.jpg' %}" alt="Banner de adopción">
        <div class="banner-text text-uppercase">
            <h1>¡Adóptame!</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for p in mascotas %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{{ p.imagen.url }}" class="img-card" alt="{{ p.nombre }}">
                    <div class="contenido-card">
                        <h2 class="card-title">{{ p.nombre }}</h2>
                        <a href="{% url 'adoptame' %}" class="btn btn-primary">Adoptar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>





{% endblock %}