{%extends 'aplicacion/base.html'%}
{%load static%}

{%block home%}


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{%static 'app/css/home.css'%}">
    <link rel="stylesheet" href="{%static 'app/css/botones.css'%}">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <!-- Google fonts-->


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

    <title>FINDMYPET</title>



</head>

<body>

    <div class="masthead bg-image">
        <div class="container d-flex justify-content-center ">
            <div class="text-center">
                <h1 class="text-uppercase">Find My Pet</h1>
                <h2>"Las mascotas
                    son más que compañeros,
                    son pedacitos
                    de amor que llenan nuestros corazones" 🐾❤️</h2>
                <a class="boton btn-2" href="{% url 'login' %}">Ingresar
                    <span></span>
                    <span></span>
                </a>

            </div>
        </div>
    </div>
    <!-- About-->
    <!-- Comunidad o Servicios -->
    <section class="contenedor" id="services">
        <div class="">
            <div class="text-center mastheader">
                <h1 class="text-uppercase">Servicios</h1>

            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    </h4>
                    <a href="{% url 'lugares' %}">
                        <figure>
                            <img src="{% static 'app/img/perros-preview.jpg' %}" alt="loginpug">
                            <div class="capa">
                                <h3>Lugares para pasear</h3>
                                <p>¿Listo para aventuras al aire libre con tu mejor amigo peludo? Descubre los
                                    mejores destinos y rutas para pasear junto a tu mascota en nuestra sección
                                    'Lugares para Pasear'. Encuentra inspiración para tus próximas salidas y crea
                                    recuerdos inolvidables con tu fiel compañero. ¡La aventura comienza aquí!"</p>
                            </div>
                        </figure>
                    </a>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <a href="{% url 'ecommerce' %}">
                        <figure>
                            <img src="{% static 'app/img/gatos-comiendo.png' %}" alt="loginpug">
                            <div class="capa">
                                <h3>Alimentos</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                            </div>
                        </figure>
                    </a>
                </div>

                <div class="col-md-4 ">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                    </span>

                    <a href="{% url 'adoptame' %}">
                        <figure>
                            <img src="{% static 'app/img/perrojapones.jpg' %}" alt="Imagen Clickeable"
                                alt="perrojapones">
                            <div class="capa">
                                <h3>Adoptar</h3>
                                <p> ¡Encuentra a tu compañero peludo y da un hogar lleno de amor! Explora nuestra
                                    sección de Adopción de Mascotas y descubre historias de rescate que cambiarán tu
                                    vida. Aquí, la alegría y la lealtad de un nuevo amigo te esperan. ¡Haz un acto
                                    de amor y adopción hoy!</p>
                                <br>
                                <br>

                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup-->
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-black">Suscribete para recibir noticias!</h2>
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Email address input-->
                        <div class="row input-group-newsletter">
                            <div class="col-12"><input class="form-control" id="emailAddress" type="email"
                                    placeholder="Enter email address..." aria-label="Enter email address..."
                                    data-sb-validations="required,email" /></div>
                            <div class="col-12 mt-4"><button class="btn btn-primary disabled py-2 px-4"
                                    id="submitButton" type="submit">Notificame!</button></div>
                        </div>
                        <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is
                            required.</div>
                        <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3 mt-2 text-white">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a
                                    href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3 mt-2">Error sending message!</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- MARCAS-->
    <div class=" py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2 col-sm-6 my-3">
                    <img class="img-fluid img-brand d-block mx-auto " src="{% static 'app/img/MAZURI.png' %}"
                        alt="..." />
                </div>
                <div class="col-md-2 col-sm-6 my-3">
                    <img class="  img-fluid img-brand d-block mx-auto " src="{% static 'app/img/ROYAL-CANIN.png' %}"
                        alt="..." />
                </div>
                <div class="col-md-2 col-sm-6 my-3">
                    <img class="img-fluid img-brand d-block mx-auto " src="{% static 'app/img/PRO-PLAN.png' %}"
                        alt="..." />
                </div>
                <div class="col-md-2 col-sm-6 my-3">
                    <img class=" img-fluid img-brand d-block mx-auto " src="{% static 'app/img/BRAVERY.png' %}"
                        alt="..." />
                </div>
                <div class="col-md-2 col-sm-6 my-3">
                    <img class=" img-fluid img-brand d-block mx-auto  " src="{% static 'app/img/HAGEN.png' %}"
                        alt="..." />
                </div>
                <div class="col-md-2 col-sm-6 my-3 ">
                    <img class=" img-fluid img-brand d-block mx-auto  " src="{% static 'app/img/HAPPY-HOME.png' %}"
                        alt="..." />
                </div>


            </div>
        </div>
    </div>
    </div>




</body>

{%endblock%}