{%extends 'aplicacion/base.html'%}
{%load static%}



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista mascotas</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="{%static 'app/css/perfiles.css'%}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>


<body>
    <h1>Lista de Mascotas</h1>
    <ul>
        {% for mascota in mascotas %}
        <li><a href="{% url 'perfil_mascota' mascota.id %}">{{ mascota.nombre }}</a></li>
        {% endfor %}
    </ul>
</body>