<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lugares</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css'>
    <link rel="stylesheet" href="{%static 'app/css/carrusel.css'%}">
    <!-- https://bytewebster.com/ -->
    <!-- https://bytewebster.com/ -->
    <!-- https://bytewebster.com/ -->
</head>

<body>
    <section>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide--one">
                    <a
                        href="https://www.google.com/search?q=parque+bicentenario&rlz=1C1VDKB_esCL1015CL1015&oq=parque&gs_lcrp=EgZjaHJvbWUqCwgAEEUYJxg7GIoFMgsIABBFGCcYOxiKBTIGCAEQRRg5Mg8IAhAAGBQYhwIYsQMYgAQyDQgDEAAYgwEYsQMYgAQyGAgEEC4YFBiDARivARjHARiHAhixAxiABDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPdIBBzcxN2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8#rlimm=6001530173420477080">
                        <figure>
                            <span>Santiago</span>

                            <h2 class>Parque Forestal</h2>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                                Av. Bicentenario 3236, Vitacura.
                            </p>

                            <div class="capa">

                                <p> Este parque es un oasis verde en Vitacura, con áreas de juego y amplios espacios
                                    para que tu mascota corra y juegue. Ideal para caminatas relajantes bajo la
                                    sombra de árboles.</p>
                            </div>

                        </figure>



                    </a>
                </div>
                <!-- LUGAR NUMERO DOS-->
                <div class="swiper-slide swiper-slide--two">
                    <a
                        href="https://www.google.com/search?q=parque+bicentenario&rlz=1C1VDKB_esCL1015CL1015&oq=parque&gs_lcrp=EgZjaHJvbWUqCwgAEEUYJxg7GIoFMgsIABBFGCcYOxiKBTIGCAEQRRg5Mg8IAhAAGBQYhwIYsQMYgAQyDQgDEAAYgwEYsQMYgAQyGAgEEC4YFBiDARivARjHARiHAhixAxiABDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPdIBBzcxN2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8#rlimm=6001530173420477080">
                        <figure>
                            <span>Vitacura</span>

                            <h2 class>Parque 2</h2>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                                Av. Bicentenario 3236, Vitacura.
                            </p>

                            <div class="capa">

                                <p> Este parque es un oasis verde en Vitacura, con áreas de juego y amplios espacios
                                    para que tu mascota corra y juegue. Ideal para caminatas relajantes bajo la
                                    sombra de árboles.</p>
                            </div>

                        </figure>



                    </a>
                </div>
                <!-- LUGAR NUMERO TRES -->
                <div class="swiper-slide swiper-slide--three">
                    <a
                        href="https://www.google.com/search?q=parque+bicentenario&rlz=1C1VDKB_esCL1015CL1015&oq=parque&gs_lcrp=EgZjaHJvbWUqCwgAEEUYJxg7GIoFMgsIABBFGCcYOxiKBTIGCAEQRRg5Mg8IAhAAGBQYhwIYsQMYgAQyDQgDEAAYgwEYsQMYgAQyGAgEEC4YFBiDARivARjHARiHAhixAxiABDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPdIBBzcxN2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8#rlimm=6001530173420477080">
                        <figure>
                            <span>Vitacura</span>

                            <h2 class>Parque 3</h2>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                                Av. Bicentenario 3236, Vitacura.
                            </p>

                            <div class="capa">

                                <p> Este parque es un oasis verde en Vitacura, con áreas de juego y amplios espacios
                                    para que tu mascota corra y juegue. Ideal para caminatas relajantes bajo la
                                    sombra de árboles.</p>
                            </div>

                        </figure>



                    </a>
                </div>
                <!-- LUGAR NUMERO CUATRO-->
                <div class="swiper-slide swiper-slide--four">
                    <a
                        href="https://www.google.com/search?q=parque+bicentenario&rlz=1C1VDKB_esCL1015CL1015&oq=parque&gs_lcrp=EgZjaHJvbWUqCwgAEEUYJxg7GIoFMgsIABBFGCcYOxiKBTIGCAEQRRg5Mg8IAhAAGBQYhwIYsQMYgAQyDQgDEAAYgwEYsQMYgAQyGAgEEC4YFBiDARivARjHARiHAhixAxiABDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPdIBBzcxN2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8#rlimm=6001530173420477080">
                        <figure>
                            <span>Vitacura</span>

                            <h2 class>Parque 4</h2>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                                Av. Bicentenario 3236, Vitacura.
                            </p>

                            <div class="capa">

                                <p> Este parque es un oasis verde en Vitacura, con áreas de juego y amplios espacios
                                    para que tu mascota corra y juegue. Ideal para caminatas relajantes bajo la
                                    sombra de árboles.</p>
                            </div>

                        </figure>



                    </a>
                </div>
                <!-- LUGAR NUMERO CINCO -->
                <div class="swiper-slide swiper-slide--five">
                    <a
                        href="https://www.google.com/search?q=parque+bicentenario&rlz=1C1VDKB_esCL1015CL1015&oq=parque&gs_lcrp=EgZjaHJvbWUqCwgAEEUYJxg7GIoFMgsIABBFGCcYOxiKBTIGCAEQRRg5Mg8IAhAAGBQYhwIYsQMYgAQyDQgDEAAYgwEYsQMYgAQyGAgEEC4YFBiDARivARjHARiHAhixAxiABDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPdIBBzcxN2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8#rlimm=6001530173420477080">
                        <figure>
                            <span>Vitacura</span>

                            <h2 class>Parque 5</h2>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                                Av. Bicentenario 3236, Vitacura.
                            </p>

                            <div class="capa">

                                <p> Este parque es un oasis verde en Vitacura, con áreas de juego y amplios espacios
                                    para que tu mascota corra y juegue. Ideal para caminatas relajantes bajo la
                                    sombra de árboles.</p>
                            </div>

                        </figure>



                    </a>

                </div>

                <!-- LUGAR NUMERO SEIS -->

                <div class="swiper-slide swiper-slide--six contenedor">
                    <a
                        href="https://www.google.com/search?q=parque+bicentenario&rlz=1C1VDKB_esCL1015CL1015&oq=parque&gs_lcrp=EgZjaHJvbWUqCwgAEEUYJxg7GIoFMgsIABBFGCcYOxiKBTIGCAEQRRg5Mg8IAhAAGBQYhwIYsQMYgAQyDQgDEAAYgwEYsQMYgAQyGAgEEC4YFBiDARivARjHARiHAhixAxiABDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPdIBBzcxN2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8#rlimm=6001530173420477080">
                        <figure>
                            <span>Vitacura</span>

                            <h2 class>Parque Bicentenario</h2>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                                Av. Bicentenario 3236, Vitacura.
                            </p>

                            <div class="capa">

                                <p> Este parque es un oasis verde en Vitacura, con áreas de juego y amplios espacios
                                    para que tu mascota corra y juegue. Ideal para caminatas relajantes bajo la
                                    sombra de árboles.</p>
                            </div>

                        </figure>



                    </a>
                </div>

                <!-- LUGAR NUMERO 7 -->
                <div class="swiper-slide swiper-slide--seven contenedor">
                    <a
                        href="https://www.google.com/search?q=parque+bicentenario&rlz=1C1VDKB_esCL1015CL1015&oq=parque&gs_lcrp=EgZjaHJvbWUqCwgAEEUYJxg7GIoFMgsIABBFGCcYOxiKBTIGCAEQRRg5Mg8IAhAAGBQYhwIYsQMYgAQyDQgDEAAYgwEYsQMYgAQyGAgEEC4YFBiDARivARjHARiHAhixAxiABDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPdIBBzcxN2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8#rlimm=6001530173420477080">
                        <figure>
                            <span>Vitacura</span>

                            <h2 class>Parque Bicentenario</h2>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                                Av. Bicentenario 3236, Vitacura.
                            </p>

                            <div class="capa">

                                <p> Este parque es un oasis verde en Vitacura, con áreas de juego y amplios espacios
                                    para que tu mascota corra y juegue. Ideal para caminatas relajantes bajo la
                                    sombra de árboles.</p>
                            </div>

                        </figure>



                    </a>
                </div>













            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!-- scripts -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js'></script>
    <script src="{% static 'app/js/script.js' %}"></script>
</body>