
.btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    position: relative;
    margin: 32px;
}

/*btn Uno*/

.btn-1{
    background: #039be5;
    color: #ffffff;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.btn-1::after, .btn-1::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #039be5;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
    
}

.btn-1:hover{
    transform: translate(-12px, -12px);
}

.btn-1:hover::after{
    transform: translate(6px, 6px);
}

.btn-1:hover::before{
    transform: translate(12px, 12px);
}


/*btn Dos*/

.btn-2{
    color: #039be5;
}

.btn-2::after, .btn-2::before{
    border: 3px solid #039be5;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn-2:hover::after{
    transform: translate(-5px, -5px);
}

.btn-2:hover::before{
    transform: translate(5px, 5px);
}

/*btn Tres*/

.btn-3{
    color: white;
    border-radius: 40px;    
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    overflow: hidden;
}

.btn-3::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #13ff13;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn-3:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(16, 226, 253, 0.5), -10px 10px 25px 0 rgba(183, 0, 255, 0.794);
}

.btn-3:hover::after{
    transform: rotate(150deg);
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
    min-height: 10vh;
}

.footer a{
    font-size: 3rem;
    text-decoration: none;
    color: red;
    margin-right: 2rem;
}

.footer p{
    font-size: 2.5rem;
    color: white;
}
/*-----------boton 3----------*/

.btn-3{
    transition: all 0.6s ease;
}

.btn-3::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 110%;
    left: -10%;
    top: 0;
    transform: skew(20deg, 0deg);
    background-color: #ffffff;
    z-index: -1;
    transition: all 0.4s ease;
}

.btn-3::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 3px solid #03cc57;
    transition: all 0.4s ease;
    z-index: -1;
}

.btn-3:hover::after{
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(240px);
}

.btn-3:hover::before{
    background-color: #03cc57;
    border: 3px solid #029740;
    transform: skew(20deg, 0deg) scale(1.1);
}

/*-----------boton 4----------*/

.btn-4::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgb(255, 30, 143), rgb(19, 227, 255), rgb(251, 255, 20), rgb(255, 15, 15));
    background-size: 300%;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.4s ease;
}

.btn-4:hover::after{
    background-position: 100%;
    filter: blur(15px);
}

.btn-4::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgb(255, 30, 143), rgb(19, 227, 255), rgb(251, 255, 20), rgb(255, 15, 15));
    background-size: 300%;
    border-radius: 5px;
    z-index: -1;
}

.btn-4:hover::before{
    background-position: 100%;
}

/*-----------boton 5----------*/

.btn-5{
    border: 3px solid #17a2ff;
    
    overflow: hidden;
}

.btn-5::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(10, 157, 255);
    z-index: -2;
}

.btn-5::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    bottom: -150%;
    border-radius: 30%;
    background-color: #151E3F;
    
    z-index: -1;
}

.btn-5:hover::before{
    animation: btn-5 2s linear both;
}


@keyframes btn-5 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        bottom: 100px;
        transform: rotate(360deg);
        
    }
}