* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #efebf3,
    #e3d7e6,
    #d9c3d6,
    #d1aec3
  );
  justify-content: center;
  align-items: center;
}

.container-mascotas:hover {
  background-color: #f9f4fc;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
  cursor: pointer;
  border-radius: 20px;
  object-fit: cover;
}
.container-mascotas {
  margin: 20px;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  background: var(--i);
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
  overflow: hidden;
}

.banneradoptame {
  text-align: center;

  padding: 20px;
}

.banneradoptame h1 {
  color: #000000;
  font-size: 36px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 100px;
  text-align: center;
}

.content h1,
a {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
}

.card:hover {
  background-color: #f9f4fc;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
  cursor: pointer;
  border-radius: 20px;
  object-fit: cover;
}

.img-card {
  height: 500px;

  border-radius: 3px;
  max-width: 100%;
  object-fit: cover;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.card .contenido-card h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;

  transition-delay: 0.2s;
}
.card .contenido-card p {
  line-height: 1.8;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
}
.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
  letter-spacing: 2px;

  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.card .contenido-card {
  padding: 15px;
  text-align: center;
}

div .card .contenido-card {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-mascotas {
    display: flex;
    flex-wrap: wrap;
    margin: 10px; /* Reducir el margen */
  }

  /* Otros estilos que desees modificar para dispositivos pequeños */
  .banneradoptame h1 {
    font-size: 40px; /* Reducir el tamaño del texto */
    padding-top: 100px; /* Ajustar el espaciado superior */
  }

  .card {
    margin: 10px; /* Reducir el margen */
  }

  .card .contenido-card {
    padding: 10px; /* Reducir el relleno */
  }

  .img-card {
    height: 320; /* Altura automática según el contenido */
    width: 100%; /* Ocupar todo el ancho disponible */
  }
}

.btn22 {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn22:hover {
  background: #000000;
  color: #fff;
}

.section2_btn {
  border-radius: 35px;
  padding: 10px 12px;
  width: 100%;
  height: 52px;
  color: #fff;
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container-mascotas {
    width: 100%; /* Ocupar todo el ancho disponible */
    max-width: 100%; /* Ancho máximo del contenedor */
    height: auto; /* Altura automática según el contenido */
    margin: 10px; /* Reducir el margen */
  }

  /* Otros estilos que desees modificar para dispositivos pequeños */
  .banneradoptame h1 {
    font-size: 40px; /* Reducir el tamaño del texto */
    padding-top: 100px; /* Ajustar el espaciado superior */
  }

  .card {
    margin: 10px; /* Reducir el margen */
  }

  .card .contenido-card {
    padding: 10px; /* Reducir el relleno */
  }

  .img-card {
    height: auto; /* Altura automática según el contenido */
    width: 100%; /* Ocupar todo el ancho disponible */
  }
}

.btn22 {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn22:hover {
  background: #000000;
  color: #fff;
}

.section2_btn {
  border-radius: 35px;
  padding: 10px 12px;
  width: 100%;
  height: 52px;
  color: #fff;
  font-size: 16px;
}
