* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  cursor: pointer;
}
body {
  background-color: #eaeaea;
  overflow: hidden !important;
}
.containerslider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 90%;
  box-shadow: 0 30px 50px #a9a8a8;
  max-width: 100% !important;
  overflow: hidden !important;
}

.itemslider {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.8s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}
.itemslider:nth-child(1),
.itemslider:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
.itemslider:nth-child(3) {
  left: 50%;
}
.itemslider:nth-child(4) {
  left: calc(50% + 220px);
}
.itemslider:nth-child(5) {
  left: calc(50% + 440px);
}
.itemslider:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}
.itemslider .contentslider {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
}
.itemslider:nth-child(2) .contentslider {
  display: block;
  z-index: 11111;
}
.itemslider .nameslider {
  font-size: 50px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
}
.itemslider .desslider {
  font-size: 13px;
  margin: 20px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}
.itemslider button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards;
  transition: 0.5s;
}
.itemslider button:hover {
  background-color: #bac383;
}
@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}
.buttonsslider {
  position: absolute;
  bottom: 30px;
  z-index: 222222;
  text-align: center;
  width: 100%;
}
.buttonsslider button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.5s;
}
.buttonsslider button:hover {
  background-color: #d7e09c;
}

.slider img {
  width: 100%;
  left: 0;
  position: sticky;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: center;
}

/* Responsividad */

@media (min-width: 320px) and (max-width: 767px) {
  .containerslider {
    width: 320px;
  }
  .itemslider {
    width: 50px;
    height: 100px;
    border-radius: 10px;
  }
  .itemslider:nth-child(3) {
    left: 60%;
  }
  .itemslider:nth-child(4) {
    left: calc(60% + 90px);
  }
  .itemslider:nth-child(5) {
    left: calc(60% + 180px);
  }
  .itemslider:nth-child(n + 6) {
    left: calc(60%+270px);
  }
  .itemslider .contentslider {
    width: 100px;
    transform: translate(-50%, -50%);
  }
  .itemslider .nameslider {
    font-size: 15px;
  }
  .itemslider .desslider {
    font-size: 7px;
    margin: 10px 0;
  }
  .itemslider button {
    padding: 5px 10px;
    font-size: 8px;
  }
  .buttonsslider button {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .containerslider {
    margin-top: 40px;
    width: 100vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .containerslider {
    margin-top: 40px;
    width: 100vw;
  }
}
