{% extends "account/base.html" %}
{%load static%}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm Email Address" %}{% endblock head_title %}
<!--CSS-->


{% block content %}
<h2>{% trans "Confirm Email Address" %}</h2>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

{% if can_confirm %}
<p>Por favor confirmar la dirección de correo para el usuario {{ user_display }}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button class="btn btn-primary primaryAction" type="submit">confirmar</button>
</form>

{% else %}

<p>{% blocktrans with confirmation.email_address.email as email %}The email address <a href="mailto:{{ email }}">{{
                email }}</a> is already confirmed.{% endblocktrans %}</p>

{% endif %}

{% else %}


{% url 'account_email' as email_url %}

<p>{% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new
                email confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock content %}