{%extends 'aplicacion/base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}



{% block login %}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="{%static 'app/css/home.css'%}">

  <title>Login</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>



{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}



{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

{% endif %}


<div class="container d-flex allign-content-center  justify-content-center ">


  <div class="row mt-5 justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">

          <div class="row">
            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"> -->
            <div class="col-lg-6 d-md-block bg-login-image">
              <img src="{% static 'app/img/doglogin.jpg' %}" alt="loginpug" class="img-fluid bg-login-image">
            </div>
            <div class="col-lg-6 ">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4" style="font-size: 36px;">¡Bienvenido!</h1>
                  <p>{% blocktrans %}Si aún no ha creado una cuenta, por favor
                    <a href="{{ signup_url }}">registrese</a> primero.{% endblocktrans %}
                  </p>
                </div>
                <form class="login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button class="btn btn-primary primaryAction" type="submit">{% trans "Sign In" %}</button>
                  <br>
                  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">¿Olvidó su contraseña?</a>
                </form>

                <hr>

                <div class="socialaccount_ballot">
                  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
                    href="{% provider_login_url provider process=process scope=scope auth_params=auth_params %}">Iniciar
                    sesion con Google</a>

                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Iniciar con Facebook
                  </a>
                  </form>
                  <hr>

                  <form>


                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  {% endblock login %}